@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

body{
    top:0;
    right:0;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #f7f7f7;
    align-items: center;
}
header{
    display: block;
    font-size: xx-large;
    margin: 20rem;
    text-align: center ;
    border: #d7b183 dotted 2px;
}
main{
    margin: 5rem;
    padding: 5rem ;
    background: radial-gradient(circle, transparent 20%, #f7f7f7 20%, #f7f7f7 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #f7f7f7 20%, #f7f7f7 80%, transparent 80%, transparent) 17.5px 17.5px, linear-gradient(#d7b183 1.4000000000000001px, transparent 1.4000000000000001px) 0 -0.7000000000000001px, linear-gradient(90deg, #d7b183 1.4000000000000001px, #f7f7f7 1.4000000000000001px) -0.7000000000000001px 0;
    background-size: 35px 35px, 35px 35px, 17.5px 17.5px, 17.5px 17.5px;
}
button,img{
    display: block;
    height: 15rem;
    border: none;
    margin-left: auto;
    margin-right: auto;
}
p{
    display: block;
    font-size: x-large;
    padding: 10px;
}
footer{
    display: block;
    margin: 1rem;
    float: right;
}
a:link {
    text-decoration: none;
    color:black;
}
a:visited {
    text-decoration: none;
    color:black;
}
a:hover {
    color: #d7b183;
    text-decoration: underline #d7b183;
}
